/* @animationTime: 0.8s;
@dotSize: 20px; */
.loader {
  text-align: center;
}
.loader span {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  background: #694be2;
  border-radius: 10px;
  animation: loader 0.8s infinite alternate;
}
.loader span:nth-of-type(2) {
  animation-delay: 0.2s;
}
.loader span:nth-of-type(3) {
  animation-delay: 0.6s;
}
@keyframes loader {
  0% {
    opacity: 0.9;
    transform: scale(0.5);
  }
  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}
.ChatBubbleLoading {
  display: flex;
  margin-bottom: 10px;
}
.ChatBubbleLoading__avatar > img {
  width: 50%;
  height: 50%;
  border: 1px solid blue;
  border-radius: 50%;
  outline: 0;
  outline-width: 0;
  box-shadow: 0px 0px 1px 1px grey;
}
.ChatBubbleLoading > div {
  align-self: flex-end;
}
.ChatBubbleLoading__message {
  border-radius: 30px 30px 30px 0px;
  background-color: #f4f5fa;
  padding: 20px;
  font-size: 13px;
}
